@import 'base.scss';

.area__n1, .area__n2 {
    padding:10px;
    font-size:25px;
    width:100px;
    border:1px solid #CCC;
    border-radius:7px;
}
.area__btnCalcular {
    margin-top:20px;
    padding:10px;
    font-size:23px;
    border:1px solid #CCC;
    border-radius:7px;
    cursor:pointer;
}

.resultado {
    border:1px dashed #FFF;
    padding:20px;
    font-size:20px;
    border-radius:7px;
    display:block;
    margin:auto;
    margin-top:20px;
    width:100px;
    height:65px;
    text-align:center;
    font-weight:bold;
}